let g:is_nvim = has('nvim')

if !exists("g:os")
    if has("win64") || has("win32") || has("win16")
        let g:os = "Windows"
    elseif system('uname -r') =~ "WSL"
        let g:os = "WSL"
    else
        let g:os = substitute(system('uname'), '\n', '', '')
    endif
endif

if empty("$XDG_CONFIG_HOME")
    let config_dir = $HOME . '/.config/vim'
else
    let config_dir = $XDG_CONFIG_HOME . '/vim'
endif
if empty("$XDG_DATA_HOME")
    let data_dir = $HOME . '/.local/share/vim'
else
    let data_dir = $XDG_DATA_HOME . '/vim'
endif

call mkdir(data_dir, 'p')

let &runtimepath = &runtimepath . ',' . config_dir . ',' . config_dir . '/after'
let &packpath = &packpath . ',' . config_dir
let &viminfo = &viminfo .  ',n' . data_dir . '/viminfo'

runtime init/functions.vim
runtime init/filetype.vim
runtime init/general.vim
runtime init/mapping.vim
runtime init/colors.vim
runtime init/plugins.vim
runtime init/platforms.vim
if ! is_nvim
    runtime init/only_vim.vim
endif
