" statusline config from -> http://stackoverflow.com/a/5380230/6744969
" GUI
"hi Normal guibg=#262625
hi User1 guifg=#eea040 guibg=#222222
hi User2 guifg=#dd3333 guibg=#222222
hi User3 guifg=#ff66ff guibg=#222222
hi User4 guifg=#a0ee40 guibg=#222222
hi User5 guifg=#eeee40 guibg=#222222
" Terminal
"hi Normal ctermbg=8
hi User1 ctermfg=16
hi User2 ctermfg=196
hi User3 ctermfg=171
hi User4 ctermfg=70
hi User5 ctermfg=226

if filereadable(expand("~/.vimrc_background"))
  let base16colorspace=256
  source ~/.vimrc_background
{{- if not .restricted }}
else
  colorscheme base16-ocean
{{- end }}
endif
let g:lightline = {
\   'colorscheme': 'base16'
\ }

